.modal{
  border: 0;
  border-radius: 5px;
  max-width: 550px;
  max-height: 250px;
  position: relative;

  .modalTitle{
    padding: 25px 30px;
  }
}

.modal__background{
  background-color: rgba(31, 124, 255, 0.2);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__cross{
  position: absolute;
  top: 0;
  right: 15px;
  font-size: 2em;
  cursor: pointer;
}

.modal__content{
  margin: 35px 25px;
}

.first-modal{
  background-color: #e74c3c;
  color: white;

  .modalTitle{
    background-color: #d44637;
  }
}

.second-modal{
  background-color: #195926;
  color: #ff5e5e;

  .modalTitle{
    background-color: #0e182f;
  }
}
